.tall-select .MuiSelect-select {
  min-height: 7px !important;
    min-width: 350px;
  display: flex;
  align-items: center;
}

.appointment-wrapper {
  background-color: #FDD835;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.appointment-container {
  width: 90%;
  max-width: 900px;
  border-radius: 12px;
  overflow: hidden;
}

.appointment-header {
  background-color: #7B4A37;
  color: white;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointment-body {
  padding: 24px;
}

.input-label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

.appointment-footer {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
